python=3.11
snakemake=7.32
biopython
configargparse
matplotlib
numpy
percolator=3.05.0
scipy
statsmodels
r>=4.0.5
bioconductor-complexheatmap
r-cowplot
r-circlize
r-dbplyr
r-ggplot2=3.4.0
r-ggrepel
r-rcolorbrewer
r-tidyr
r-viridis

