python=3.9.16
biopython=1.81
configargparse=1.5.3
matplotlib=3.7.1
numpy=1.25.0
scipy=1.10.1
statsmodels=0.14.0
r=4.0.5
bioconductor-complexheatmap=2.4.2
r-cowplot=1.1.1
r-circlize=0.4.15
r-dbplyr=1.0.7
r-ggplot2=3.3.5
r-ggrepel=0.9.1
r-rcolorbrewer=1.1_3
r-tidyr=1.1.4
r-viridis=0.6.2
